@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

body{
    font-family: 'Raleway', Arial, sans-serif;
    max-width: 1340px;
    margin: auto;
    padding: 0 25px;
}

a{
    text-decoration: none;
    color: #000;
}

header .logo{
    margin-top: 44px;
}

header nav{
    float: right;
}

header nav ul{
    margin: 0;
}

header nav,ul,li{
    display: inline-block;
}

header li,.register{
    padding: 40px 25px 25px;
    border-top: 2px solid #FFF;
}

header li:hover,li.active{
    border-top: 2px solid #0065FC;
}

header li:hover a,li.active a{
    color: #0065FC;
}

header .register a{
    color: #0065FC;
    font-weight: bold;
}